.jumbotron {
  background-image: url('images/mgc-jumbotron-cropped.jpg');
  color: white;
  background-size: cover;
  height: 908px;
  margin-top: 0px;
}


.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

form {
  background-color: #6DB33F;
  padding: 20px 10px;
}

.bottom-banner {
  background-color: #244595;
  padding: 15px 0px;
}

div h1 {
  font-family: 'Archivo Black', sans-serif;
  color: gray;
}

form optgroup {
  background-color: gray;
}

form h2 {
  font-family: 'Archivo Black', sans-serif;
  color: white;
  padding-bottom: 20px;
}

form label {
  font-family: 'Archivo Black', sans-serif;
  color: white;
  /*padding-bottom: 20px;*/
}

.glyphicon.glyphicon-circle-arrow-up {
    font-size: 175px;
    color: white;
}

.fact-green {
  font-family: 'Archivo Black', sans-serif;
  color: #6DB33F;
}

.fact-blue {
  font-family: 'Archivo Black', sans-serif;
  color: #244595;
}

.fact-orange {
  font-family: 'Archivo Black', sans-serif;
  color: #F27F32;
}

.fact-white {
  font-family: 'Archivo Black', sans-serif;
  color: white;
}

.fact-gray {
  font-family: 'Archivo Black', sans-serif;
  color: #D3D3D3;
}

.footer-middle a {
  /*font-family: 'Archivo Black', sans-serif;*/
  color: #244595;
}
